# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
venvv/
venvapi/
env/
ENV/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Local databases
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.swp
*.swo